We will create the function that create the aliphabet Diamond. The wildest point can be specified by 'character' variable.

We’ll call the function align_Diamond(), and will just make an empty function for now as a placeholder.

In [18]:
def align_Diamond(character):
  #Do nothing for now
  pass

Before we design a method to create diamond we will make a display to count aliphabets from A to the selected character.This will allow developer to define the requirements for making diamond. Now, we'll write a test that check the output that is A,B,C and D.

In [50]:
align_Diamond('D') == 'A B C D '

True

It should be true but 'align_Diamond()' is an empty function.It doesn't return any value. We will edit function to return 'character'

After that we'll going to print the character that assigned to the function.

In [41]:
def align_Diamond(character):
  return character

In [49]:
print(align_Diamond('A'))
print(align_Diamond('B'))
align_Diamond('D') == 'A B C D '

A
A B

True

For the result 'A' has been displayed but it doesn't the expected output to count aliphabets from A to the selected character.

Now we create a function to display all the alphabet from A to the character that the function got and check if the output is correct.

In [45]:
def align_Diamond(character):
  start = ord('A')
  end = ord(character)
  strin = ""

    # Check if the character is valid (between 'A' and 'Z')
  if start <= end <= ord('Z'):
      # Iterate from the ASCII value of 'A' to the specified character and print each character
      for i in range(start, end + 1):
        strin = strin + chr(i) + ' '

  else:
      print("Invalid character")
  return strin

In [48]:
print(align_Diamond('B'))
print(align_Diamond('F'))
print(align_Diamond('D'))
align_Diamond('D') == 'A B C D '

A B
A B C D E F
A B C D

True

Now, we will change format of output to print a diamond ‘A’ with the supplied letter at the widest point.

In [25]:
def align_Diamond(character):
    start = ord('A')
    end = ord(character)
    if start <= end <= ord('Z'):
        # Upper part of the diamond
        for i in range(start, end + 1):
            print(' ' * (end - i), chr(i), ' ' * (2 * (i - start) - 1) + (chr(i) if i != start else ''))

        # Lower part of the diamond
        for i in range(end - 1, start - 1, -1):
            print(' ' * (end - i), chr(i), ' ' * (2 * (i - start) - 1) + (chr(i) if i != start else ''))
    else:
        print("Invalid character")

In [26]:
align_Diamond('C')
align_Diamond('F')

   A
  B  B
 C    C
  B  B
   A
      A
     B  B
    C    C
   D      D
  E        E
 F          F
  E        E
   D      D
    C    C
     B  B
      A

How ever when we declare 'character' as a lower character function isn't supported yet.

In [27]:
align_Diamond('c')
align_Diamond('f')

Invalid character
Invalid character

we will fix this issues by converting lower to upper.

In [28]:
def align_Diamond(character):
    character = character.upper()
    start = ord('A')
    end = ord(character)
    if start <= end <= ord('Z'):
        # Upper part of the diamond
        for i in range(start, end + 1):
            print(' ' * (end - i), chr(i), ' ' * (2 * (i - start) - 1) + (chr(i) if i != start else ''))

        # Lower part of the diamond
        for i in range(end - 1, start - 1, -1):
            print(' ' * (end - i), chr(i), ' ' * (2 * (i - start) - 1) + (chr(i) if i != start else ''))
    else:
        print("Invalid character")

In [29]:
align_Diamond('c')
align_Diamond('f')

   A
  B  B
 C    C
  B  B
   A
      A
     B  B
    C    C
   D      D
  E        E
 F          F
  E        E
   D      D
    C    C
     B  B
      A